.home {
    min-width: 100vh;
}

.hero {
    background: linear-gradient(rgba(248, 215, 218, 0.9), rgba(249, 213, 224, 0.9)),
        url('/hero-bg.jpg') center/cover no-repeat;
    color: var(--text-color);
    text-align: center;
    padding: 120px 20px;
    margin-bottom: 60px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroContent {
    min-width: 800px;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    animation: fadeIn 1s ease;
    font-weight: 600;
}

.hero p {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
    animation: fadeIn 1s ease 0.3s forwards;
    opacity: 0;
    font-weight: 300;
}

.booking__button {
    background-color: rgb(185, 171, 184);
    color: var(--white);
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.1rem;
    transition: var(--transition);
    animation: fadeIn 1s ease 0.6s forwards;
    opacity: 10;
    display: inline-block;
}

.booking__button:hover {
    background-color: var(--primary-dark);
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.about {
    padding: 80px 0;
    background: linear-gradient(135deg, var(--secondary-color), var(--pink-light));
    border-radius: 20px;
    margin: 40px 20px;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}

.section_title {
    text-align: center;
    margin-bottom: 2.5rem;
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
}

.section_title::after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 20px auto 0;
}

.about_text {
    min-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
    font-size: 1.1rem;
    color: var(--text-ligth);
}