.footer {
    background-color: var(--secondary-color);
    padding: 2rem 0;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.socials a {
    display: inline-block;
    padding: 0.5rem;
    transition: var(--transition);
}

.socials a:hover {
    color: var(--primary-color);
    transform: translateY(-3px);
}