* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: black;
    height: 100%;
    background-color: #fff;
}

html,
#root {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    min-width: 100%;
    height: auto;
}